---
import BaseLayout from "../../layouts/fr/BaseLayout.astro";
import HorizontalCard from "../../components/fr/HorizontalCard.astro";
import Education from "../../components/fr/Education.astro";
import Certifications from "../../components/fr/Certifications.astro";
import Experience from "../../components/fr/Experience.astro";
import TechStack from "../../components/fr/TechStack.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";

const posts = (await getCollection("blog"))
.filter((post) => post.data.lang == "fr")
.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home" title={"Accueil"}>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bienvenue <p class="wave">👋</p></div>
    <div class="text-5xl font-bold">Je suis Issam SISBANE</div>
    <div class="text-3xl py-3 font-bold">
      (Apprenti) Ingénieur informatique & Cloud
    </div>
    <div class="py-2">
      <text class="text-lg">
        <p class="text-justify">
          J'adore apprendre et construire en utilisant des <b
            >solutions innovantes</b
          > et de nouvelles méthodes de travail. Je suis toujours à la recherche
          de nouveaux défis et opportunités. En tant que <b
            >passionné de technologie</b
          >, j'aime être impressioné par la <b>découverte</b> de technologies émergentes
          et l'exploration de leurs applications potentielles. Je m'efforce de rester
          à la pointe de l'<b>innovation</b> et d'adopter de
          <b>nouvelles idées</b>.
        </p>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:issam.sisbane@gmail.com" target="_blank" title="issam.sisbane@gmail.com">
        Me contacter</a
      >
      <a
        href="https://drive.google.com/file/d/1bv846HidjMlvPd309wOY_j49Kh8r2Uis/view?usp=sharing"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Mon CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Technologies {"<🛠>"}
    </div>
  </div>

  <br />
  <TechStack />
  <br />

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Selection de Projets {"</>"}
    </div>
  </div>

  <HorizontalCard
    title="Clippy"
    img="/portfolio/clippy.jpg"
    desc="Une plateforme web permettant le partage d'informations de manière éphémère, suivant le modèle de Pastebin."
    url="/portfolio/fr/projects/clippy"
    badge="PERSONNEL"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Veille Technologique"
    img="/portfolio/technology_watch_img.webp"
    desc="Un etat de l'art de l'analyse des données de santé et une introduction au machine Learning."
    url="/portfolio/fr/projects/veille-technologique"
    badge="SCOLAIRE & PROFESSIONNEL"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Park IT !"
    img="/portfolio/parkit_img.webp"
    desc="Une solution IoT innovante visant à simplifier le stationnement. Avec des capteurs intelligents et une application conviviale, elle offre une expérience de stationnement optimisée."
    url="/portfolio/fr/projects/park-it"
    badge="SCOLAIRE"
  />
  <div class="divider my-0"></div>
  <div class="flex justify-end">
    <a href="/portfolio/fr/projects"
      ><button class="btn btn-outline btn-sm">Autres projets...</button></a
    >
  </div>
  <br />

  <br />
  <Experience />

  <Education />

  <Certifications />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Derniers Posts</div>
  </div>

  {
    last_posts
      .map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/portfolio/fr/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
  }
  <div class="flex justify-end">
    <a href="/portfolio/fr/blog"
      ><button class="btn btn-outline btn-sm">Autres posts...</button></a
    >
  </div>
</BaseLayout>
