<div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications {"<🧠>"}</div>
</div>

<h2 class="text-2xl font-semi-bold">Cloud</h2>
<br />
<ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
        <a
            href="https://learn.microsoft.com/fr-fr/users/issamsisbane-4752/transcript/vym1paeq8kqy5mn"
            target="_blank"
        >
            <b>AZ-900</b> Azure Fondamentals - 2024</a
        >
    </li>
    <li>
        <a
            href="https://learn.microsoft.com/fr-fr/credentials/certifications/azure-developer/?practice-assessment-type=certification"
            target="_blank"
        >
            <b>AZ-204</b> Azure Developer Associate - 2024 (en cours de passage)</a
        >
    </li>
</ul>

<h2 class="text-2xl font-semi-bold">Anglais</h2>
<br />
<ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
        <a
            href="https://fr.wikipedia.org/wiki/Test_of_English_for_International_Communication"
            target="_blank"
        >
            <b>TOEIC</b> (Test of English for International Communication) - 2023
        </a>
    </li>
</ul>
