<div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications {"<🧠>"}</div>
</div>

<h2 class="text-2xl font-semi-bold">Cloud</h2>
<br />
<ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
        <a
            href="https://learn.microsoft.com/api/credentials/share/fr-fr/IssamSISBANE-4752/32A02BF61E6E5685?sharingId=B40C0FD0BE50D583"
            target="_blank"
        >
            <u><b>AZ-204</b></u> Azure Developer Associate - 2024</a
        >
    </li>
    <li>
        <a
            href="https://learn.microsoft.com/api/credentials/share/fr-fr/IssamSISBANE-4752/9BC1C0080C19DD38?sharingId=B40C0FD0BE50D583"
            target="_blank"
        >
            <u><b>AZ-900</b></u> Azure Fondamentals - 2024</a
        >
    </li>
</ul>

<h2 class="text-2xl font-semi-bold">Anglais</h2>
<br />
<ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
        <a
            href="https://drive.google.com/file/d/1DXkxWty0u_Zw_BTz6_u9F2je5KRt1Ffd/view"
            target="_blank"
        >
            <u><b>TOEIC</b></u> (Test of English for International Communication)
            - 2023
        </a>
    </li>
</ul>
