---
import TimeLineElement from "./TimeLine.astro";
import ciril_group_logo from "../../assets/ciril_group_logo.svg";
import thuasne_logo from "../../assets/thuasne_logo.svg";
---

<div class="mb-5">
    <div class="text-3xl w-full font-bold">Expérience {"<👨🏽‍💻>"}</div>
</div>

<div class="time-line-container mb-10">
    <TimeLineElement
        title="Ingénieur Cloud (Alternance)"
        subtitle="De Septembre 2021 à Septembre 2024 à Thuasne, Lyon, France"
        image_link={thuasne_logo}
        image_alt="Thuasne logo"
    >
        <p class="my-2 text-justify">
            Pendant mon apprentissage chez Thuasne, j'ai eu l'opportunité de
            travailler sur une large gamme de projets, dont beaucoup étaient
            liés à l'<b>IoT</b> (Internet des Objets) et fortement dépendant des
            <b>technologies cloud</b>. J'ai ainsi pu découvrir le cloud et
            forger une important experience avec Azure. Pour le déploiement
            d'applications, j'ai appris et utilisé Kubernetes et Docker,
            assurant des solutions <b>efficaces et évolutives</b>. J'ai
            également entrepris des tâches de <b>développement pur</b>, prenant
            une application existante et la migrant vers les dernières versions
            de Vue et Loopback. Mon travail s'est étendu à différents langages
            de programmation, dont Python, Java, PHP et JavaScript, démontrant
            ainsi ma <b>capacité d'adaptation et ma polyvalence</b> face à des piles
            technologiques diverses.
        </p>
        <br />
        <p class="my-2 text-justify">
            J'ai également travaillé sur un projet de développement d'une
            application utilisant <b>FHIR</b> (Fast Healthcare Interoperability Resources),
            ce qui impliquait la création d'une <b>API REST</b> pour gérer les données
            des patients. L'idée principale du projet était de créer une plateforme
            de bout en bout où les données des appareils IoT sont ingestées et intégrées
            au flux de travail du patient. Tout cela afin de rendre les données visibles
            sur le cloud par les médecins et les patients eux-mêmes. Ce projet a
            été particulièrement stimulant, car il m'a fallu apprendre beaucoup de
            choses, y compris <b>FHIR</b>, les <b
                >réglementations sur les données de santé</b
            >, les <b>bonnes pratiques cloud</b>, et la capacité à fournir un <b
                >code et une architecture de haute qualité</b
            >.
        </p>

        <br />
        <b>Stack:</b>
        <div class="badge badge-secondary badge-outline">Azure</div>
        <div class="badge badge-secondary badge-outline">Kubernetes</div>
        <div class="badge badge-secondary badge-outline">Docker</div>
        <div class="badge badge-secondary badge-outline">Vue</div>
        <div class="badge badge-secondary badge-outline">Loopback</div>
        <div class="badge badge-secondary badge-outline">Python</div>
        <div class="badge badge-secondary badge-outline">Spring Boot</div>
        <div class="badge badge-secondary badge-outline">Python</div>
        <div class="badge badge-secondary badge-outline">FHIR</div>
    </TimeLineElement>
    <br />
    <TimeLineElement
        title="Developpeur Python (Stage)"
        subtitle="D'Avril 2021 à Juillet 2021 à Ciril Group, Lyon, France"
        image_link={ciril_group_logo}
        image_alt="Ciril Group logo"
    >
        <p class="my-2 text-justify">
            Au cours de mon stage chez Ciril Group j'ai pu <b>développer</b> une
            application utilisant Scrapy en Python. Cette application était conçue
            pour récupérer automatiquement les adresses de différents points de vente
            sur Internet (grande Surface, restaurants...). Elle disposait d'une liste
            prédéfinie de chaînes de distribution et naviguait sur le site web de
            chaque chaîne pour extraire toutes les adresses des magasins. Ensuite,
            les adresses étaient <b>traitées</b>, <b>nettoyées</b> et <b
                >stockées</b
            > pour une utilisation et une cartographie ultérieures. Cette expérience
            a renforcé ma maîtrise du <b>web scraping</b> et du traitement des données,
            ainsi que ma capacité à créer des solutions pratiques pour les <b
                >besoins commerciaux réels</b
            >.
        </p>
        <br />
        <p class="my-2 text-justify">
            Cette expérience fut ma première expérience professionnelle et m'a
            permis de renforcer ma maîtrise du <b>web scraping</b> et du traitement
            des données, ainsi que ma capacité à créer des solutions pratiques pour
            les <b>besoins commerciaux réels</b>.
        </p>
        <br />

        <b>Stack:</b>

        <div class="badge badge-secondary badge-outline">Python</div>
        <div class="badge badge-secondary badge-outline">Scrapy</div>
        <div class="badge badge-secondary badge-outline">Pandas</div>
    </TimeLineElement>
</div>
